@model IdentityFrameworkTask.DataModels.EventParticipant

@{
    ViewData["Title"] = "Delete";
}

<style>
    .bold-label {
        font-weight: bold;
    }
</style>
<h1 class="text-primary text-center">Delete Event</h1>

<h5>Are you sure you want to delete this?</h5>
<br />
<div>
    <form id="myDel" method="post" action="@Url.Action("Delete")">
        @Html.LabelFor(model => model.CreateDate, new { @class = "bold-label" }): &nbsp;

        @Html.DisplayFor(model => model.CreateDate, new { htmlAttributes = new { @class = "form-control" } })

        <br />

        @Html.LabelFor(model => model.EventID, new { @class = "bold-label" }): &nbsp;

        @Html.DisplayFor(model => model.EventID, new { htmlAttributes = new { @class = "form-control" } })

        <br />

        @Html.LabelFor(model => model.StudentID, new { @class = "bold-label" }): &nbsp;

        @Html.DisplayFor(model => model.StudentID, new { htmlAttributes = new { @class = "form-control" } })

        <br />
        <br />

        <button type="submit" class="btn btn-danger" id="myDel">Delete</button> &nbsp; |
        @Html.ActionLink("Back to List", "Index")
    </form>
</div>

