@model IEnumerable<IdentityFrameworkTask.DataModel.AppUser>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}
<style>
    button {
        display: inline-block;
        background-color: red;
        padding: 8px;
        width: 150px;
        color: #ffffff;
        text-align: center;
        border: 4px double #cccccc;
        border-radius: 10px;
        font-size: 16px;
    }
</style>

<h1 class="text-center text-primary">Users Data</h1>
<p>
    <button id="myButton">Add New User</button>
</p>
<script>
    document.getElementById("myButton").addEventListener("click", function () {
        window.location.href = '@Url.Action("Register", "User")';
    });
</script>

<style>
    /*table, th, td {
            border: 2px solid #96D4D4;
            border-collapse: collapse;
        }*/

    th, td {
        padding: 15px;
        text-align: center;
    }
</style>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th colspan="3">***Actions***</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td> @Html.ActionLink("Edit", "Edit", new { id = item.Id })  </td>
                <td> @Html.ActionLink("Details", "Details", new { id = item.Id }) </td>
                <td> @Html.ActionLink("Delete", "Delete", new { id = item.Id } /*new { @class = "delete-link", onclick = "return confirmDelete();" }*/)</td>
            </tr>
        }
    </tbody>
</table>

