@model IdentityFrameworkTask.ViewModels.RoleVM
@{
    ViewData["Title"] = "AddRole";
    Layout = "_Layout";
}
<style>

    .bold-label {
        font-weight: bold;
    }

</style>


<div class="row">
    <div>
        <div class="col-10 offset-2">
            <form id="myReg" method="post" action="@Url.Action("AddRole")">
                <table align="center">
                    <tr>
                        <td>@Html.LabelFor(model => model.RoleName, new { @class = "bold-label" }): &nbsp;</td>
                        <td>  </td>
                        <td></td>
                        <td>
                            @Html.EditorFor(model => model.RoleName, new { htmlAttributes = new { @class = "form-control" } })
                        </td>
                    </tr>
                    <tr></tr>
                    <tr></tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.Description, new { @class = "bold-label" }): &nbsp;</td>
                        <td>  </td>
                        <td></td>
                        <td>
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                        </td>
                    </tr>
                    <tr></tr>
                    <tr></tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.Role.CreatedDate, "CreatedDate:", new { @class = "bold-label" }) &nbsp;</td>
                        <td>  </td>
                        <td></td>
                        <td>
                            @Html.EditorFor(model => model.Role.CreatedDate, new { htmlAttributes = new { @class = "form-control" } })
                        </td>
                    </tr>
                </table>
                <br />
                <br />
                <button type="submit" class="btn btn-primary" id="myButton">Submit</button> &nbsp; | &nbsp;
                <span>@Html.ActionLink("Back to List", "Index")</span>

            </form>
        </div>
    </div>
</div>
